
.imagenCarrusel{
    filter: brightness(0.6);
}

.carousel-inner img{
    height: 90vh;
}
/*
.textoCarrusel{
    margin-top: 0;
    padding-bottom: 30vh;
    padding-right: 11vw;
}
*/
.imagenColumna{
    padding-right: 1px;
}
.textoColumna{
    padding-left: 1px;
}

.botonFormulario{
    background-color: #A1C82E;
}
.linkFooter{
    text-decoration: none;

}
.footerFondo{
    background-color: #1e5170;
}

@media screen and (max-width: 768px){
    .linkFooter{
        margin-block: 30%;
    }
}
@media screen and (min-width: 768px){
    .carousel-caption{
        top: 34%;
        left: 40%;
        bottom: 10%;
    }
}
@media screen and (min-width: 837px){
    .carousel-caption{
        top: 34%;
        left: 50%;
    }
}
    